@charset "UTF-8";


body{
    
}

header{
    margin: 0px;
    padding: 15px;
    background-image: linear-gradient(to bottom, #46888de8,#21b6c4f1);
}

header h1 {
    text-decoration: underline;
    text-align: center;
    margin: 0px;
    text-shadow:0px 0px 2px black;
}

header h1 p {
    margin: 0px;
}

nav {
    background-image: linear-gradient(to bottom, #21B7C4,#44c1cc);
    margin: 0px;
    padding: 15px 0px;
}
nav a {
    color: black; 
    border-radius: 5px;
    text-align: left;
    padding: 3px;
    background-color: aqua;
    text-decoration: none;
    margin: 22px;
    box-shadow: 1px 1px 3px black;
    text-shadow: 0px 0px 1px black;

}

hr {
    color: black;
    margin: 10px 0px;
}

a:hover {
    text-decoration: underline;
    background-color: aquamarine;
}

article {
    background-color: #44c1cc;
    padding: 15px;
}

article h2 {
    margin: 0px;
}




