body{
    background-color: white;
    
}

header{
    background-image: linear-gradient( to bottom, #3f67f7fb, #1946E6);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}
nav{
    text-align: left;
    
}
main{
    background-color: #1946E6;
    padding: 10px;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
