body{
    background-color: white;
   
}

header{
    background-image: linear-gradient( to bottom, #3f67f7fb, #1946E6);
    text-align: center;
    padding: 10px;
    
}
nav{
    text-align: left;
    
    
}

a {
    color: black; 
    text-decoration: none;
    padding-left: 15px;

}

:hover > a {
    text-decoration: underline;
    color: #071340;
}
main{
    background-color: #1946E6;
    text-align: justify;
    max-width: 80%;
    
    
    
}
h1 {
    text-decoration: underline;
}
